<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App - Que tomo?</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app id="inspire" :dark="setTheme">
      <!--Title Nav-->
        <div>
          <v-app-bar
            color="gray accent-4"
            dark
          >
            <v-toolbar-title>{{ titulo }}</v-toolbar-title>
      
            <v-spacer></v-spacer>
            <v-switch style="padding-top:25px!important" v-model="goDark"></v-switch>
            <v-btn icon>
              <v-icon>mdi-weather-night</v-icon>
            </v-btn>
              </template>
            </v-menu>
          </v-app-bar>
        </div>
        <!-- <v-app-bar app clipped-left>
            <v-toolbar-title>{{ titulo }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-switch :label="'Dark Mode'" v-model="goDark"></v-switch>
        </v-app-bar> -->
      
      <!--Body-->
      <v-main>
        <v-container fluid>
          <v-data-iterator
          :items="items"
          :items-per-page.sync="itemsPerPage"
          :page="page"
          :search="search"
          :sort-by="sortBy.toLowerCase()"
          :sort-desc="sortDesc"
          hide-default-footer
        >
          <template v-slot:header>
            <v-toolbar
              dark
              color="blue darken-3"
              class="mb-1"
            >
              <v-text-field
                v-model="search"
                clearable
                flat
                solo-inverted
                hide-details
                prepend-inner-icon="search"
                label="Buscar"
              ></v-text-field>
              <template v-if="$vuetify.breakpoint.mdAndUp">
                <v-spacer></v-spacer>
                <v-select
                  v-model="sortBy"
                  flat
                  solo-inverted
                  hide-details
                  :items="keys"
                  prepend-inner-icon="search"
                  label="Ordenar por"
                ></v-select>
                <v-spacer></v-spacer>
                <v-btn-toggle
                  v-model="sortDesc"
                  mandatory
                >
                  <v-btn
                    large
                    depressed
                    color="blue"
                    :value="false"
                  >
                    <v-icon>mdi-arrow-up</v-icon>
                  </v-btn>
                  <v-btn
                    large
                    depressed
                    color="blue"
                    :value="true"
                  >
                    <v-icon>mdi-arrow-down</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </template>
            </v-toolbar>
          </template>
    
          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="item in props.items"
                :key="item.strDrink"
                cols="12"
                sm="12"
                md="3"
                lg="3"
              >
                <v-card>
                  <v-card-title class="subheading font-weight-bold">{{ item.strDrink }}</v-card-title>
                  <v-img
                    :src= 'item.strDrinkThumb'
                  ></v-img>
                  <v-divider></v-divider>
    
                  <v-list dense>
                    <v-list-item
                    v-for="(key, index) in filteredKeys"
                    :key="index"
                    v-if="item[key]"
                    Dense
                  >
                      <!-- <v-list-item-content style="font-size: 14px;" :class="{ 'blue--text': sortBy === key }">{{ key }}:</v-list-item-content> -->
                      <v-list-item-content class="align-start" :class="{ 'blue--text': sortBy === key }">{{ (key.substring(3) + ': ' + item[key]) }}</v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-col>
            </v-row>
          </template>
    
          <template v-slot:footer>
            <v-row class="mt-2 pl-1 pr-1" justify="center">
              <span class="grey--text">Items per page</span>
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    dark
                    text
                    color="primary"
                    class="ml-2"
                    v-bind="attrs"
                    v-on="on"
                  >
                    {{ itemsPerPage }}
                    <v-icon>mdi-chevron-down</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(number, index) in itemsPerPageArray"
                    :key="index"
                    @click="updateItemsPerPage(number)"
                  >
                    <v-list-item-title>{{ number }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
    
              <v-spacer></v-spacer>
    
              <span
                class="mr-4
                grey--text"
              >
                Page {{ page }} of {{ numberOfPages }}
              </span>
              <v-btn
                fab
                dark
                color="blue darken-3"
                class="mr-1"
                @click="formerPage"
              >
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn>
              <v-btn
                fab
                dark
                color="blue darken-3"
                class="ml-1"
                @click="nextPage"
              >
                <v-icon>mdi-chevron-right</v-icon>
              </v-btn>
            </v-row>
          </template>
        </v-data-iterator>
        </v-container>
    </v-main>


    </v-app>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="vue.js"></script>
</body>

</html>